$secondaryColor: #ec407a;
$bgColor: #95e8f3;


body {
  background: $bgColor;
}
.white {
  padding: 15px;
  margin: 30px 0;
}
// error-section
.error-section {
  h2{
    font-size: 78px;
    text-align: center;
  }
}